.buttonGroup {
  display: flex; }
  .buttonGroup__button {
    width: auto;
    height: 35px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    color: #444;
    border: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    position: relative;
    padding: 0px;
    flex-grow: 1;
    transition: all 0.5s;
    text-transform: capitalize; }
    .buttonGroup__button.active {
      color: #fff;
      border-color: #69A70B;
      background-color: #69A70B; }
    .buttonGroup__button:first-child {
      border-radius: 4px 0 0 4px;
      border-right: 0px; }
    .buttonGroup__button:last-child {
      border-radius: 0 4px 4px 0;
      border-left: 0px; }
