@import "../../../variables";

.buttonGroup {
  display: flex;

  &__button {
    width: auto;
    height: 35px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    color: #444;
    border: 0;
    border: 1px solid $borderColor;
    background-color: $color;
    position: relative;
    padding: 0px;
    flex-grow: 1;
    transition: all 0.5s;
    text-transform: capitalize;

    &.active {
      color: #fff;
      border-color: $secondaryColor;
      background-color: $secondaryColor;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
      border-right: 0px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
      border-left: 0px;
    }
  }
}