@import "../../../variables";

.trackCard {
  display: flex;
  flex-direction: row;
  margin: 6px 4px;
  align-items: stretch;
  background-color: $cleanBackground;
  border-right: 1px solid $borderColor;
  border-radius: 5px;
  box-shadow: $shadow;
  flex-grow: 1;
  width: 100%;

  & > img {
    width: 80px !important;
    height: 120px;
  }

  &__info {
    width: 100%;
    margin-left: 6px;
    display: flex;
    flex-direction: column;

    &__title > .attributeField, &__extra > .attributeField {
      margin: 4px 0;
      padding-right: 4px;
      flex: 1 auto;
    }

    &__title {
      font-size: 13px;
      font-weight: bold;
    }

    &__extra {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      font-size: 11px;
    }
  }
}