@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

*
  box-sizing: border-box
  font-family: "Roboto", Arial, Helvetica, sans-serif

body
  margin: 0
  padding: 0

.App 
  display: flex
  flex-direction: column

  padding: 30px 50px

  span.credits
    margin-top: 30px
