$color: #fff;
$darkColor: #3f3f3f;

$textShadow: #eff0f1;

$primaryColor: #9658f4;
$secondaryColor: #69A70B;

$backgroundColor: #303030;
$lightBackground: #f5f5f52f;
$solidLightBackground: #545454;
$cleanBackground: #f5f5f5;

$shadow: 0 2px 10px rgba(0,0,0,.2);
$darkShadow: 0 2px 10px rgba(0, 0, 0, 1);
$borderColor: #ddd;