.artistCard {
  display: flex;
  width: 310px;
  height: 430px;
  flex-direction: column;
  margin: 10px 4px;
  align-items: stretch;
  border: 1px solid #d9dadb;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 0px #d9dadb;
  flex-grow: 1;
  max-width: 620px;

  & > img {
    width: 100%;
    height: 280px;
  }

  &__info {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 6px;

    &__title > .attributeField, &__extra > .attributeField {
      margin: 4px 0;
      padding-right: 4px;
      flex: 1 auto;
    }

    &__title {
      font-size: 13px;
      font-weight: bold;
    }

    &__extra {
      font-size: 11px;
    }

    &__actions {
      width: 100%;
      position: absolute;
      bottom: 6px;
    }
  }
}